<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 30px;
            max-width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>Contact Us</h1>
    <p>If you have questions or feedback, feel free to reach out:</p>

    <ul>
        <li>Email: <a href="mailto:hrsjain123@gmail.com">email</a></li>
        <li>GitHub: <a href="https://github.com/Hardik9jain" target="_blank">github.com/Hardik</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/lakshy-jain-7a0608238" target="_blank">linkedin.com/in/lakshyjain</a></li>
    </ul>

    <a href="{{ url_for('index') }}">← Back to Home</a>
</body>
</html>
